@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  height: 100vh;          /* Ensures the body takes the full viewport height */
}