@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.custom-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  color: #4a5568;
}